In [29]:
import numpy as np, scipy as sp,pandas as pd, matplotlib.pyplot as plt
import matplotlib, sklearn
import os,sys,csv
import util

In [1]:
origin_headers = ['date_time', 
           'site_name',
           'posa_continent',
           'user_location_country',
           'user_location_region',
           'user_location_city',
           'orig_destination_distance',
           'user_id',
           'is_mobile',
           'is_package',
           'channel',
           'srch_ci',
           'srch_co',
           'srch_adults_cnt',
           'srch_children_cnt',
           'srch_rm_cnt',
           'srch_destination_id',
           'srch_destination_type_id',
           'hotel_continent',
           'hotel_country',
           'hotel_market',
           'is_booking',
           'cnt',
           'hotel_cluster']

updated_headers = ['date_time',
           'in_date',
           'in_days',
           'site_name',
           'posa_continent',
           'user_location_country',
           'user_location_region',
           'user_location_city',
           'hotel_continent',
           'hotel_country',
           'hotel_market',
           'srch_destination_id',
           'orig_destination_distance',
           'user_id',
           'is_mobile',
           'is_package',
           'channel',
           'srch_adults_cnt',
           'srch_children_cnt',
           'srch_rm_cnt',
           'srch_destination_type_id',
           'is_booking',
           'cnt',
           'hotel_cluster']

In [3]:
def uniqify(seq, idfun=None): 
    # order preserving
    if idfun is None:
        def idfun(x): return x
    seen = {}
    result = []
    for item in seq:
        marker = idfun(item)
        if marker in seen: 
            continue
        seen[marker] = 1
        result.append(item)
    return result

## Geospatial Analysis

In [4]:
import collections
import cPickle as pk

def geo_stat(fpath, isBooking = True):
    fname, ext = os.path.splitext(fpath)
    with open(fpath, "r") as csvfile:
        reader = csv.reader(csvfile)
        header = reader.next()
        book_item = header.index('is_booking')
        destination_item = header.index('srch_destination_id')
        country_item = header.index('hotel_country')
        hotel_item = header.index('hotel_cluster')
        
        dest_map = {}
        country_map = {}
        
        count = 0
        for line in reader:
            count += 1
            if count%1000000 == 0:
                print "Processed:", str(count)
            
            if isBooking and line[book_item] != '1':
                continue
                
            destination_id = int(line[destination_item])
            country_id = int(line[country_item])
            hotel_cluster = int(line[hotel_item])
            
            value1 = dest_map.setdefault(destination_id, [])
            value1.append(hotel_cluster)
            
            value2 = country_map.setdefault(country_id, [])
            value2.append(hotel_cluster)          
            
    print 'IO Done. Now Processing...'
    
    for k, v in dest_map.iteritems():
        v.sort(key=collections.Counter(v).get, reverse=True)
        dest_map[k] = uniqify(v)
    
    for k, v in country_map.iteritems():
        v.sort(key=collections.Counter(v).get, reverse=True)
        country_map[k] = uniqify(v)
        
    print 'Done'
    return dest_map, country_map


def save_geo_stat(dstpath, dst_map, cntry_map):
    with open(dstpath,'wb') as fp:
        pk.dump(dst_map ,fp)
        pk.dump(cntry_map,fp)
        
def load_geo_stat(srcpath):
    with open(srcpath,'rb') as fp:
        dst_map = pk.load(fp)
        cntry_map = pk.load(fp)
        return dst_map, cntry_map

In [ ]:
# Get the list of hotel sorted by frequency in different destination region
full_trainpath = '../data/train.csv'
d_map, c_map = geo_stat(full_trainpath, False)
save_geo_stat('../data/geo_stat_all.p', d_map, c_map)

In [6]:

def csv_map_by_key(srcpath, dstdir, key='hotel_country'):
    if not os.path.exists(dstdir):
        os.makedirs(dstdir)
        
    data = pd.read_csv(srcpath)
    for name, group in data.groupby(key):
        filepath = os.path.join(dstdir, str(name) + '.csv')
        skipHeader = os.path.exists(filepath) 
        with open(filepath, "a") as csvfile:
            group.to_csv(csvfile, mode='a', header=(not skipHeader))
            
def loop_map_by_key(dstdir):
    #fname, ext = os.path.splitext(fpath)
    for i in range(8):
        print i
        datapath = '../data/train_' + str(i) + '.csv'
        csv_map_by_key(datapath, dstdir)

In [7]:
# Map and save data according to country
loop_map_by_key('../data/byCountry')

0

KeyboardInterrupt:

## Modeling & Ranking

In [16]:
from sklearn.datasets import load_boston
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import Imputer
from sklearn.cross_validation import cross_val_score

### 1. RandomForest

In [39]:
def cross_validation(df, feaTitles, split = 5, n_est = 10):
    
    X = df[feaTitles].as_matrix()
    y = df.hotel_cluster.as_matrix()
    
    if n_est == 0 or n_est == None:
        n_est = len(feaTitles)
    estimator = Pipeline([("imputer", Imputer(missing_values=0,
                                          strategy="median",
                                          axis=0)),
                      ("forest", RandomForestClassifier(n_estimators=n_est,
                                                       n_jobs=3))])
    from util import map_5_scorer
    score = cross_val_score(estimator, X, y, cv=split, scoring=map_5_scorer)
    return score.mean(), len(df)

In [40]:
def test_model(datadir, feaTitles, isBooking = False, split = 5):
    scores = []
    freqs = []
    for i in range(213):
        print i
        datapath = os.path.join( datadir,str(i) + '.csv')
        if not os.path.exists(datapath):
            continue
        
        df = pd.read_csv(datapath)
        
        if isBooking:
            df = df[df.is_booking == 1]        
        
        util.time_feature_processing(df, True)
        util.nan_feature_processing(df,'orig_destination_distance')
        
        for  dst, group in df.groupby('srch_destination_id'):
                score, count = cross_validation(group, feaTitles, split)
                scores.append(score)
                freqs.append(count)
        
        return np.average(scores, weights=freqs)

In [17]:
sample = pd.read_csv('../data/booking_train.csv')

In [41]:
fea_header = ['date_time',
           'in_date',
           'in_days',
           'site_name',
           'posa_continent',
           'user_location_country',
           'user_location_region',
           'user_location_city',
           'orig_destination_distance',
           'user_id',
           'is_mobile',
           'is_package',
           'channel',
           'srch_adults_cnt',
           'srch_children_cnt',
           'srch_rm_cnt',
           'srch_destination_type_id']
test_model('../data/byCountry', feaTitles=fea_header,isBooking=True)
util.

0

ImportError: cannot import name map_5_scorer

In [19]:
len(sample.srch_destination_id.unique())

36933

In [21]:
len(sample)

3000693

In [25]:
sample[sample['hotel_cluster']== 5]

,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,...,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster
199,2013-09-14 00:00:59,24,2,3,50,5703,NaN,14117,1,0,...,0,1,23894,6,1,1,6,77,1882,5
301,2014-02-07 02:40:04,24,2,231,68,42296,NaN,22730,0,0,...,0,1,19940,6,1,1,3,99,88,5
330,2014-10-23 20:21:41,11,3,205,385,46709,NaN,26246,1,0,...,0,1,20925,6,1,1,6,204,1774,5
389,2014-06-13 17:59:33,2,3,77,824,25620,NaN,30850,0,0,...,0,1,23237,1,1,1,3,106,756,5
490,2014-12-29 15:08:05,25,2,23,48,4924,NaN,35370,0,0,...,1,1,23237,1,1,1,3,106,756,5
497,2013-10-11 09:28:34,2,3,66,442,35390,9282.0341,36305,0,0,...,0,1,23386,6,1,1,3,162,1490,5
629,2014-08-12 12:22:43,2,3,66,174,11816,NaN,47886,0,0,...,0,1,14041,6,1,1,6,105,35,5
799,2013-05-31 14:55:23,34,3,205,354,25315,5797.7663,55953,0,0,...,0,1,8247,1,1,1,3,0,1500,5
800,2013-05-31 15:01:25,34,3,205,354,25315,5797.7663,55953,0,0,...,0,1,8247,1,1,1,3,0,1500,5
812,2014-06-18 17:46:28,2,3,66,258,35380,44.2142,56336,1,0,...,0,1,14964,1,1,1,2,50,441,5
839,2013-11-09 01:48:55,34,3,205,155,14703,7.6447,61001,1,0,...,0,1,5950,3,1,1,2,198,399,5
1075,2013-12-06 14:06:48,37,1,69,664,47626,NaN,70535,0,0,...,1,1,12252,6,1,1,6,204,27,5
1088,2014-12-12 17:25:07,13,1,46,172,13218,519.9234,70799,0,0,...,0,1,8253,1,1,1,6,70,19,5
1116,2014-06-25 16:40:35,2,3,66,174,24103,22.2945,71732,1,0,...,0,1,12603,5,1,1,2,50,365,5
1155,2014-08-04 09:36:16,13,1,46,171,39423,4847.1804,72327,0,0,...,0,1,8260,1,1,1,2,50,701,5
1172,2014-03-06 10:31:56,13,1,46,245,37877,378.9078,72730,0,0,...,0,1,8420,6,1,1,6,144,24,5
1270,2014-12-03 23:07:10,2,3,66,258,20849,NaN,78422,0,0,...,0,1,8745,1,1,1,6,204,27,5
1299,2014-12-08 16:58:50,11,3,205,385,5785,NaN,79131,0,0,...,0,1,26227,6,1,1,2,198,384,5
1412,2014-11-16 17:17:50,2,3,66,174,42586,52.9520,83807,0,0,...,0,1,8835,1,1,1,2,50,357,5
1524,2014-03-15 10:16:50,2,3,66,462,14785,228.8193,88521,1,0,...,0,1,23609,6,1,1,2,50,1048,5
1770,2014-04-23 06:50:51,34,3,205,135,30464,1038.7915,95986,0,1,...,0,1,24692,6,1,1,2,50,1241,5
1781,2013-03-19 14:48:05,2,3,66,462,28654,5007.9535,96532,0,0,...,0,1,12402,5,1,1,6,204,1452,5
1786,2014-10-02 16:53:10,2,3,91,38,49514,NaN,96532,0,0,...,0,1,8252,1,1,1,6,170,313,5
1869,2013-06-08 21:46:59,2,3,66,340,43356,5189.6840,100762,0,0,...,0,1,12241,6,1,1,6,204,27,5
1978,2014-06-12 22:22:09,17,1,133,20,3392,NaN,105006,0,0,...,0,1,20671,6,1,1,6,204,1777,5
2184,2013-10-13 13:36:12,2,3,66,174,45689,2197.4183,112433,0,0,...,0,1,13925,6,1,1,4,8,126,5
2237,2014-03-27 10:19:16,2,3,66,294,3688,4800.0462,114132,0,0,...,0,1,8383,3,1,1,6,204,27,5
2462,2014-07-01 13:41:23,2,3,66,435,16159,4901.3484,120073,0,0,...,0,1,8785,1,1,1,6,105,35,5
2488,2013-12-16 19:37:46,2,3,66,442,49165,3237.7585,121187,0,0,...,0,1,12308,5,1,1,2,50,649,5
2636,2013-08-20 10:34:13,2,3,66,356,28014,2618.4139,125538,0,0,...,1,1,12227,6,1,1,2,50,701,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2997886,2014-07-14 20:24:38,2,3,66,337,33443,439.0422,1083470,0,0,...,1,1,8811,1,1,2,2,198,391,5
2997921,2014-12-09 17:40:03,17,1,133,20,4447,NaN,1084193,0,0,...,0,1,12248,6,1,1,6,204,27,5
2997974,2014-09-13 04:28:08,8,4,77,824,29284,3911.4175,1086502,0,0,...,0,1,8819,1,1,1,3,168,1242,5
2997994,2014-09-10 22:30:02,2,3,66,174,9351,5156.6608,1087155,0,0,...,0,1,8747,1,1,1,3,106,107,5
2998076,2013-05-14 11:55:21,2,3,66,220,1437,8786.2795,1089333,0,0,...,0,1,8242,1,1,1,3,171,61,5
2998147,2014-10-11 14:46:23,37,1,69,685,34512,NaN,1091136,0,0,...,0,1,8242,1,1,1,3,171,61,5
2998148,2014-10-11 14:49:01,37,1,69,685,34512,NaN,1091136,0,0,...,0,1,8242,1,1,2,3,171,61,5
2998182,2013-11-18 21:34:14,2,3,215,715,29722,7993.8812,1092573,0,0,...,0,1,8822,1,1,1,3,130,91,5
2998183,2013-11-26 23:45:11,2,3,66,174,8198,6783.7892,1092573,0,0,...,0,1,8822,1,1,1,3,130,91,5
2998253,2014-07-13 14:55:41,2,3,133,20,3392,NaN,1094228,0,0,...,0,2,18495,6,1,1,6,77,2,5
2998382,2014-04-05 15:03:02,2,3,1,395,29254,4920.4316,1096878,1,0,...,0,1,11439,1,1,1,4,163,1503,5
2998426,2014-12-13 07:33:22,2,3,66,348,40,4141.7533,1097920,0,0,...,0,1,8785,1,1,1,6,105,809,5
2998429,2014-12-17 16:00:31,24,2,3,50,5703,NaN,1098037,0,1,...,0,1,109,3,1,1,3,48,152,5
2998690,2014-04-01 13:39:07,2,3,66,258,4687,1444.1299,1105812,0,0,...,0,1,23682,6,1,1,2,50,659,5
2998707,2014-01-11 14:52:52,11,3,205,135,27655,1633.1117,1106357,0,0,...,0,1,1891,1,1,1,2,198,380,5
2999381,2014-09-05 15:18:22,2,3,66,442,46296,75.7021,1130426,0,0,...,0,0,8218,1,1,1,2,50,743,5
2999485,2014-08-29 16:18:11,13,1,46,171,8553,4770.4940,1134650,0,0,...,0,1,1613,1,1,1,2,50,602,5
2999674,2013-03-21 17:38:40,2,3,66,337,12901,NaN,1142515,0,0,...,1,1,11352,1,1,1,2,50,613,5
2999707,2013-09-15 21:21:13,2,3,66,174,5938,1732.2210,1143482,0,1,...,0,1,8230,1,1,1,2,50,637,5
2999710,2014-02-15 08:33:28,2,3,66,174,5938,1732.2210,1143482,0,1,...,0,1,12732,5,1,1,2,50,637,5
2999760,2014-02-18 04:37:04,2,3,85,464,2363,NaN,1145250,0,0,...,0,1,57417,4,1,1,2,50,945,5
2999815,2014-12-09 13:06:03,11,3,205,367,31349,1505.2381,1146873,0,0,...,0,1,28593,6,1,1,2,50,679,5
2999828,2014-10-03 16:28:26,2,3,66,318,46298,1158.4132,1147568,0,0,...,0,1,12669,5,1,1,2,50,701,5
3000045,2014-04-21 10:25:54,2,3,66,184,27733,827.9444,1151239,0,0,...,0,1,12266,6,1,1,2,50,368,5
3000071,2014-03-22 13:01:43,2,3,66,351,3538,4527.5275,1152541,0,0,...,1,1,50701,6,1,1,6,4,151,5
3000300,2014-04-23 12:46:51,23,1,1,436,38492,NaN,1163562,0,0,...,0,1,13307,4,1,1,6,105,22,5
3000347,2014-03-08 16:47:06,2,3,66,153,20706,5977.7326,1166157,0,0,...,0,1,8785,1,1,1,6,105,35,5
3000373,2013-09-25 18:26:52,2,3,66,226,8138,4362.6277,1171138,0,0,...,0,1,12241,6,1,1,6,204,27,5
3000598,2013-07-15 16:36:17,23,1,1,395,29254,686.6531,1190487,0,1,...,0,1,8745,1,1,1,6,204,27,5
3000643,2014-01-09 19:37:28,10,0,182,416,49461,NaN,1194592,0,0,...,1,3,8806,1,1,1,6,105,22,5